/* elements */
body {
  background: linear-gradient(60deg, #fcffe0, #e5fce6);
  height: 100%;
  width: 100%;
}

button {
  background-color: yellowgreen;
  border-radius: 6px;
  cursor: pointer;
  font-size: 100%;
  padding: 1rem;
  margin: 1.5rem;
  text-align: center;
}

h1 {
  font-family: "Shizuru", cursive;
  font-size: 250%;
  padding: 1.5rem;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 150%;
  padding: 0.5rem;
}

p {
  padding: 0.5rem;
  font-weight: 500;
}

/* classes */
.big-buttons {
  background-color: lightblue;
  border-radius: 8px;
  cursor: pointer;
  font-size: 150%;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

.title-card {
  align-content: space-around;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.main {
  display: flex;
}

.game-cards {
  align-items: flex-start;
  background-color: #e5fce6;
  border: 5px solid lightblue;
  border-radius: 5px;
  box-shadow: rgb(60 64 67) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 4px 3px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  width: 90%;
}

.timer-style {
  align-items: center;
  background-color: #e5fce6;
  border: 5px solid lightblue;
  border-radius: 50px;
  box-shadow: rgb(60 64 67) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 4px 3px;
  display: flex;
  flex-direction: column;
  font-size: 250%;
  font-weight: 600;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  width: 90%;
}

.footer {
  align-content: space-around;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
